:root {
    --text: #E9FF4F;
    --menubackground: #3D3F2C;
    --namebackground: #7E8784;
    --black: #000000;
    --font1: "Open Sans", serif;
    --font2: "Inria Serif", serif;
}

body {
    background-image: url("https://media-public.canva.com/uP7i8/MADyRluP7i8/1/s2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: center;
}

.title,
.options {
    color: var(--text);
    font-family: var(--font1);
    font-size: 30px;

}

.subtitle,
.subtitle2 {
    color: var(--text);
    font-family: var(--font2);
    font-size: 120px;
}

.letsPlan,
.next,
.search {
    color: var(--text);
    background-color: var(--menubackground);
    font-family: var(--font1);
    font-size: 25px;
    border: 3px solid var(--text);
    border-radius: 50px;


}

.cursor-pointer {
    color: var(--text);
    background-color: var(--menubackground);
    font-family: var(--font1);
    font-size: 25px;
    border: 3px solid var(--text);
    border-radius: 50px;
}

.name {
    color: var(--text);
    background-color: var(--namebackground);
    font-family: var(--font1);
    font-size: 25px;
    border: 3px solid var(--text);
    border-radius: 50px
}

::placeholder {
    /* Chrome/Opera/Safari */
    color: var(--text);
}

.form {
    display: flex;
    float: left;
}

.dCard, .sCard {
    border: 3px solid var(--text);
    border-radius: 50px;
    position: relative;
}

.dCard img, .sCard img {
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}

.dCard h4, .sCard h4 {
    position: absolute;
    left: 10px;
    right: 10px;
    background-color: var(--menubackground);
    top: 40px;
    color: var(--text);
    border-radius: 20px;
    border: solid 1px;
    pointer-events: none;
}

.headerTitleStuff {
    background-color: var(--menubackground);
    border-radius: 100px;
    border: solid 4px;
    border-color: var(--text);
}

.yourName {
    color: var(--menubackground);
    font-family: var(--font1);
    font-size: 50px;
}

.subtitle3,
.subtitle4,
.subtitle5 {
    color: var(--text);
    font-family: var(--font2);
    font-size: 100px;
}

.bar1,
.bar2,
.bar3,
.bar4,
.bar5 {
    background-color: var(--menubackground);
    border-top: 5px solid var(--namebackground);
    border-bottom: 5px solid var(--namebackground);
}

.bar2,
.bar3,
.bar4,
.bar5 {
    border-left: 5px solid var(--namebackground);
}

.slideover {
    background-color: var(--namebackground);
    border-left: 10px solid var(--menubackground);
    position: absolute;
}

.refreshBtn {
    color: var(--text);
    background-color: var(--menubackground);
    font-family: var(--font1);
    font-size: 18px;
    border: 3px solid var(--text);
    border-radius: 50px;
}